*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.logo{
    width: 80px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.menu-list{
    display: flex;
    gap: 2em;
}
.menu-list li a{
    color: #222;
}